* {
  margin: 0;
  padding: 0;
}
#banner {
  height: 300px;
  background-color: yellow;
}
#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
}
#header-area > img {
  width: 128px;
  height: 36px;
}
#banner > img {
  width: 100%;
  height: 300px;
}
#body > h1 {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 400;
}
#product-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}
.product-card {
  width: 200px;
  height: 300px;
  margin-left: 31px;
  margin-right: 20px;
  margin-bottom: 40px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 180px;
}
.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.product-name {
  display: flex;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 12px;
}
.product-price {
  display: block;
  font-weight: bold;
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
  margin-left: 15px;
}
.product-seller {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-top: 1px solid rgb(230, 230, 230);
}
.product-avatar {
  width: 24px;
  margin-left: 14px;
}
.product-link{
  color: inherit;
  text-decoration: none;
}